extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new") New message
  .message-board-container
  for message in messages
    .message
      h2=message.text
      h4=message.user
      p=message.added
