extends layout

block content
  header
    div.title
      h1= title
      p Welcome to my Node/Express #{title} 
    .button
      button
        a(href="/new") New message
  for message in messages
    .message-board-container
      .message-user
        h4=message.user
        p=message.added
      .message-body
        h2=message.text
      
